body{
    text-align: center;
    font-family: 'Proza Libre';
    color: #333;
    background-color: #1B2127;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1000px;
    padding: 1em;
    background-color: rgb(243, 234, 234);
}

.post{
    border: solid salmon 2px;
}

.post h1{
    text-align: center;
    font-size: 30px;
}
.post p{
    text-align: left;
}
.cabecera{
    background-color: #e47265;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    text-align: left;
    box-shadow: 4px 5px 11px 3px rgba(0, 0, 0, 0.75);
}

.cabecera h1{
    display: inline-block;
    font-weight: bold;
}

.logo{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}


.tagline{
    margin: 0 20px;
    font-weight: 0.8em;
    font-size: 20px;
}

.post p{
    padding: 0 10px;
    font-size: 20px;
}

.footer{
    color: wheat;
    background-color: #1f3146;
    width: 1000px;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_container{
    margin: 0 auto;
    padding: 1em;
}

.footer a{
    color: red;
}
